<html><body>
  <div id="mapdiv"></div>
           
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var aarhusLat = new OpenLayers.LonLat( 10.203921 ,56.162939 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );          

    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    
    markers.addMarker(new OpenLayers.Marker(aarhusLat)); 

    var locationData = {
        gpsx : [{% for mydata in myIotdata %}
                  {{ mydata.gpsx }},        
              {%  endfor %}],
        gpsy : [{% for mydata in myIotdata %}
                  {{ mydata.gpsy }},        
              {%  endfor %}]
    }   

    /* console.log(locationData.gpsx[0]); */

    var i;
    for (i = 0; i < locationData.gpsx.length; i++) { 

        var aarhusLat2 = new OpenLayers.LonLat( locationData.gpsx[i], locationData.gpsy[i] )
             .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            );                  
        markers.addMarker(new OpenLayers.Marker(aarhusLat2));   
    }
     
    map.setCenter (aarhusLat, zoom);
  </script>
</body></html>
